.symptoms{
    display: flex;
    font-size: 1.2rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    
    height: 2rem;
    color: seashell;
    div{
        margin: .4rem;
    }
}